# Django settings
DEBUG=True
SECRET_KEY=your_secret_key
ALLOWED_HOSTS=127.0.0.1,.herokuapp.com,localhost
DJANGO_ENVIRONMENT_SETTINGS=dev

# DATABASE
USE_POSTGRES=False
DATABASE_NAME=sample_db
DATABASE_USER=user
DATABASE_PASSWORD=password
DATABASE_HOST=localhost
DATABASE_PORT=3306

# CORSHEADERS
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:8080
CORS_ALLOW_CREDENTIALS=True